<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jedev.leflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.NewReadingActivity" />
        <activity
            android:name=".view.MeuPerfilActivity"
            android:label="@string/meu_perfil_titulo_tela" />
        <activity
            android:name=".view.RecuperarSenhaActivity"
            android:label="@string/recuperarSenha" />
        <activity android:name=".view.GroupDetailsActivity" />
        <activity android:name=".view.BookDetailsActivity" />
        <activity android:name=".view.HistoricActivity" />
        <activity android:name=".view.AddGrupoActivity" />
        <activity
            android:name=".view.GroupsActivity"
            android:label="@string/title_activity_grupos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.ResultsBooksActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.RegisterActivity"
            android:label="@string/title_activity_cadastro" />
    </application>

</manifest>